.imageBox {
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 2.0, 2.0);
}

.loadMore {
    -fx-cursor: hand;
    -fx-font-family: sans-serif;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-color: royalblue;
    -fx-pref-height: 30px;
    -fx-focus-traversable: false;
}
