.scroll-pane > .viewport {
    -fx-background-color: lightgray;
}

.imageBox {
    -fx-cursor: hand;
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 5, 0, 1.0, 1.0);
}

.imageBox .label {
    -fx-font-family: sans-serif;
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-background-color: #00000090;
    -fx-background-radius: 10px;
    -fx-pref-width: 30px;
    -fx-pref-height: 20px;
    -fx-translate-x: 100px;
    -fx-translate-y: -105px;
}

.loadMore {
    -fx-cursor: hand;
    -fx-font-family: sans-serif;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-color: royalblue;
    -fx-pref-height: 30px;
    -fx-focus-traversable: false;
}

.loading {
    -fx-background-color: #00000030;
    -fx-alignment: center;
    -fx-fill-width: false;
}
